body {
    /* background-color: #EAF6F6; */
    background-color: blue;
  }

  hr {
    background-color: white;
    border-style: dotted none none none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
  }

  h1 {
    color: #854ee2;
  }
  h3 {
    color: #139a9a;
  }